doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Buy
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
  body(style='background: white')
    nav.navbar.navbar-inverse
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          a(href='/main')
            img(src='/images/BBS_logo2-4.png')
        div
          br
          a(href='/profile')
            .text(style='float: right; margin-top: 50px; font-size: 20px; color: #FFFFFF')
              b !{name122}
            form.navbar-form.pull-right
              .dropdown
                a.dropdown-toggle(href='#', style='color:#FFFFFF; font-size:50px; float: right;', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | ? 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/contact_us') About Us
                  li
                    a(href='/contact_us') Contact Us
                  li
                    a(href='/logout') Log Out
            span
              a(href = '/community')
                img#globe(align='right', src='/images/globe.png')
      // /.container-fluid
    div
      div
        h3(style='color: #0B614B;text-align: center;margin-bottom: 30px') BORROW
        center
          form#custom-search-input(role='form', method='post', action='/borrowscreen/submit')
            .input-group.col-md-5
              input.search-query.form-control(type='text', placeholder='Search', name='query')
              span.input-group-btn
                button.btn.btn-danger(type='submit')
                  img(src='/images/search.png', style='width:10px;height: 10px')
              select.form-control(name='category', style='width:90px;margin-left: 20px')
                option(value='ALL') ALL
                option(value='Electronics') Electronics 
                option(value='Trip Gear') Trip Gear 
                option(value='Stationary') Stationary 
                option(value='Books') Books 
                option(value='Cars') Cars 
                option(value='Other') Other 
    br
    br
    br
    if (array_1 != undefined)
      hr
      .container
        .row
          .list-group
            .media.col-md-3
              figure.pull-left
                img.media-object.img-rounded.img-responsive(src='requests/'+array_1.email+'/'+array_1.name+'/1.jpg', width='50%',height='50%')
            .col-md-6
              h3.list-group-item-heading
                | Title:
                | !{array_1.title}
              br
              h4.list-group-item-heading
                | Name:
                | !{array_1.name} 
              br
              h4.list-group-item-text
                | Description:
                | !{array_1.description}
            .col-md-3.text-center
              h4
                | Contact Information :
                |  !{array_1.contact}
    if (array_2 != undefined)
      hr
      .container
        .row
          .list-group
            .media.col-md-3
              figure.pull-left
                img.media-object.img-rounded.img-responsive(src='requests/'+array_2.email+'/'+array_2.name+'/1.jpg', width='50%',height='50%')
            .col-md-6
              h3.list-group-item-heading
                | Title:
                | !{array_2.title}
              br
              h4.list-group-item-heading
                | Name:
                | !{array_2.name} 
              br
              h4.list-group-item-text
                | Description:
                | !{array_2.description}
            .col-md-3.text-center
              h4
                | Contact Information :
                |  !{array_2.contact}
    if (array_3 != undefined)
      hr
      .container
        .row
          .list-group
            .media.col-md-3
              figure.pull-left
                img.media-object.img-rounded.img-responsive(src='requests/'+array_3.email+'/'+array_3.name+'/1.jpg', width='50%',height='50%')
            .col-md-6
              h3.list-group-item-heading
                | Title:
                | !{array_3.title}
              br
              h4.list-group-item-heading
                | Name:
                | !{array_3.name} 
              br
              h4.list-group-item-text
                | Description:
                | !{array_3.description}
            .col-md-3.text-center
              h4
                | Contact Information:
                |  !{array_3.contact}
    if (array_4 != undefined)
      hr
      .container
        .row
          .list-group
            .media.col-md-3
              figure.pull-left
                img.media-object.img-rounded.img-responsive(src='requests/'+array_4.email+'/'+array_4.name+'/1.jpg', width='50%',height='50%')
            .col-md-6
              h3.list-group-item-heading
                | Title:
                | !{array_4.title}
              br
              h4.list-group-item-heading
                | Name:
                | !{array_4.name} 
              br
              h4.list-group-item-text
                | Description: 
                | !{array_4.description}
            .col-md-3.text-center
              h4
                | Contact Information:
                |  !{array_4.contact}
    if (array_5 != undefined)
      hr
      .container
        .row
          .list-group
            .media.col-md-3
              figure.pull-left
                img.media-object.img-rounded.img-responsive(src='requests/'+array_5.email+'/'+array_5.name+'/1.jpg', width='50%',height='50%')
            .col-md-6
              h3.list-group-item-heading
                | Title:
                | !{array_5.title}
              br
              h4.list-group-item-heading
                | Name:
                | !{array_5.name} 
              br
              h4.list-group-item-text
                | Description: 
                | !{array_5.description}
            .col-md-3.text-center
              h4
                | Contact Information:
                |  !{array_5.contact}
    hr

    .text-center.center-block
      br
      a(href='/borrowscreen', style='font-size:20px')
        | 1   
      a(href='/borrowscreen?1=1', style='font-size:20px')
        | 2  
      a(href='/borrowscreen?1=2', style='font-size:20px')
        | 3  
      a(href='/borrowscreen?1=3', style='font-size:20px')
        | 4  
      a(href='/borrowscreen?1=4', style='font-size:20px')
        | 5  
      a(href='/borrowscreen?1=5', style='font-size:20px')
        | 6  
    hr



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')