doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Profile
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/borrowscreen.css', rel='stylesheet')
    link(rel='stylesheet', href='https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css')
    style.
      .round {
      border-radius: 50%;
      overflow: hidden;
      width: 150px;
      height: 150px;
      }
      .round img {
      display: block;
      min-width: 100%;
      min-height: 100%;
      }
  body(style='background: white')
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a(href='/main')
            img(src='images/BBS_logo2-4.png')
        div
          br
          a(href='/profile')
            .text(style='float: right; margin-top: 50px; font-size: 20px; color: #FFFFFF')
              b !{name122}
            form.navbar-form.pull-right
              .dropdown
                a.dropdown-toggle(href='#', style='color:#FFFFFF; font-size:50px; float: right', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | ? 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/contact_us') About Us
                  li
                    a(href='/contact_us') Contact Us
                  li
                    a(href='/logout') Log Out
            span
              a(href='/community')
                img#globe(align='right', src='images/globe.png')
      // /.container-fluid
    div
      h3(style='color: #0B614B;text-align: center;margin-bottom: 30px') COMMUNITY
      center
        form#custom-search-input(role='form', method='post', action='/community/submit')
          .input-group.col-md-5
            input.search-query.form-control(type='text', placeholder='Search', name='query')
            span.input-group-btn
              button.btn.btn-danger(type='submit')
                img(src='/images/search.png', style='width:10px;height: 10px')
        .col-md-12(style='margin-top: 20px')  
        br
    br
    br
    .container
      .row
        .col-md-3
          h3(style='text-align: left') Top User points: 
          .col-md-12(style='margin-top: 20px')
            figure.pull-left
              a.btn.btn-primary.btn-lg.btn-block.btn-huge(href='http://localhost:5000') Chat Room
        .col-md-9
          each val in array
            if (val != undefined)
              hr
              .list-group
                .row
                  .media.col-md-6
                    img.media-object.img-rounded.img-responsive(src='uploads/'+val.email+'.jpg', width='50%',height='50%')
                  .col-md-6
                    h3.list-group-item-heading
                      | Name:
                      | !{val.name}
                    br
                    h4.list-group-item-heading
                      | Email ID:
                      | !{val.email} 
                    br
                    h4.list-group-item-text
                      | Date of Birth: 
                      | !{val.dob.d}/!{val.dob.m}/!{val.dob.y}
                    br
                    h4
                      | Gender:
                      |  !{val.gender}
            
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='javascripts/bootstrap.min.js')
